<html>
<head>
    <meta content="text/html; charset=UTF-8"/>
    <title>课程-登陆页面</title>
</head>
<body>
<form name="login" method="post" action="/user/signin">

    <table align="center">
        <caption>登陆系统</caption>
        <tr>
            <td><label>账号：</label></td>
            <td><input type="text" name="username" size="24"/></td>
        </tr>
        <tr>
            <td><label>密 码：</label></td>
            <td><input type="password" name="password" size="24"/></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="登陆" size="24"></td>
        </tr>
    </table>
</form>
</body>
</html>